body{
    background-color: lightgray;
    font-family: "Arial Narrow", sans-serif;
}

#all{
    margin-top:5%;
    margin-left:10%;
}
.leftSide{
    width: 60%;
    margin-bottom:5px;
    max-width: 600px;
    min-width: 330px;
    float:left;
    background-color:white;
    height: auto;
}
.leftSide div #newGoodDiv{
    padding:3%;
}

.rightSide{
    width:40%;
    display:inline-block;
    max-width: 400px;
    min-width:330px;
    margin-left:2%;
    height:30px;
}
@media screen and (max-width: 1200px) {
    #all{
        margin: 3%;
        margin-top:5%;
    }
    .leftSide{
       width:58%;
        float:left;
        max-width: none;
    }
    .rightSide{
        width:37%;
        max-width:none;
    }
}
@media screen and (max-width: 920px){
    .leftSide{
        width:100%;
        max-width: none;
    }
    .rightSide{
        width:100%;
        max-width:none;
        margin-left: auto;
    }
}
#newGoodDiv{
    height:35px;
}

#buttonAdd{
    width:18%;
    height:100%;
    background-color:blue;
    color:white;
    box-sizing: border-box;
}
#inputAddGood{
    width:80%;
    height:100%;
    padding-left:1%;
    color: gray;
    box-sizing: border-box;
}
.leftSide .allAboutGood{
    width:100%;
    height:45px;
    margin-left:2%;
    max-width: 600px;
    margin-top:4%;
    border-top:1px solid lightgrey;
}

.leftSide .allAboutGood .goodName{
    height:100%;
    width:31%;
    float:left;
    max-width:200px;
    padding:2%;
    font-size: large;
}

.leftSide .allAboutGood .plusMinButtons{
    width:31%;
    height:100%;
    padding-top: 2%;
    margin-bottom: 15%;
    display: inline-block;
    background-color: white;
    text-align: center;
}
.leftSide .allAboutGood .plusMinButtons button{
    border-radius: 100%;
    width: 35px;
    height:35px;
    font-weight: bold;
    color:white;
    font-size: large;
}
.leftSide .allAboutGood .plusMinButtons .plusButton{
    background-color: limegreen;
}
.leftSide .allAboutGood .plusMinButtons .minusButton{
    background-color: red;
}

.leftSide .allAboutGood .plusMinButtons .amount{
    background-color: lightgray;
    display: inline-block;
    text-align: center ;
    border-radius: 25%;
    width:16%;
    height:55%;
    padding-top:3%;
    font-weight: bold;

}

.leftSide .allAboutGood .buyDel{
    display:inline-block;
    width:31%;
    max-width:200px;
    text-align: right;
}

.leftSide .allAboutGood .buyDel .buy{
    width:70px;
    height:35px;
    border-radius:15%;
    padding:5%
}

.leftSide .allAboutGood .buyDel .delete{
    border-radius: 25%;
    width:35px;
    height:35px;
    padding:3%;
    font-weight: bold;
    background-color: red;
    font-size: large;
    color:white;
    margin-right: 5px;
}

.rightSideHeading{
    font-size: large;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.rightSide .allSold{
    padding-top:3%;
    padding-left:3%;
    border-bottom: 1px solid lightgrey;
}

.rightSide .allSold .leftGood{
    display:inline-block;
    border-radius: 10%;
    background-color: lightgrey;
    width:25%;
    height:25px;
    padding: 1% 1% 1% 2%;
    margin-bottom: 5px;
}
.rightSide div .leftGood .amountOfLeft{
    display:inline-block;
    border-radius: 100%;
    background-color: orange;
    width:20px;
    height:15px;
    padding:2%;
    float:right;
    text-align: center;
    font-weight: bold;
    color:white;
}

.rightSide div{
    background-color: white;
    min-height:20px;
}
